@{
    ViewBag.Title = "Home Page";
}
@*@model List<WebApplicationDemoMVC.Models.Student>*@
@model List<WebApplicationDemoMVC.Models.Student>
   

<a href="/home/MyAction/ten-2022"> Bấm vào đây </a>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @if (Model != null && Model.Count > 0)
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.Id</td>
                        <td>@item.Name</td>
                        <td><a href="@Url.Action("Edit","Student",new {name=item.Name, id=item.Id})" class="badge badge-warning">edit</a></td>
                        <td><a href="@Url.Action("Delete","Student",new {id=item.Id})" class="badge badge-danger">delete</a></td>
                    </tr>

                }
            }
        </tbody>
    </table>
    </div>
