
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LayOutLogin</title>
</head>
<body>
    <h>Đây là Layout custom</h>
    <div>
        @RenderBody()
    </div>
</body>
</html>
