
@{
    ViewBag.Title = "MyAction";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>MyAction</h2>
ID học sinh :
<input type="text" value="@ViewBag.ID" />
Tên học sinh :
<input type="text" value="@ViewBag.Name" />




